<div class="nav-bar">
  <div class="nav-item">
    <img src="assets/images/home-icon.svg" alt="Home Icon">
    <p class="nav-home-heading">Home</p>
  </div>
  <div class="nav-item">
    <img src="assets/images/track-icon.svg" alt="Track Icon">
    <p class="nav-heading">Track</p>
  </div>
  <div class="nav-item">
    <img src="assets/images/search-icon.svg" alt="Search Icon">
    <p class="nav-heading">Search</p>
  </div>
  <div class="nav-item">
    <img src="assets/images/account-icon.svg" alt="Account Icon">
    <p class="nav-heading">Account</p>
  </div>
</div>
