
  <div class="skin-talk-carousel">
    <div class="skin-talk-slides" [ngStyle]="slideStyles">
      <div class="slide" *ngFor="let product of products; let i = index">
       <div class="image-container">
        <img [lazyLoad]="product.image" width="156px" height="221px" [alt]="'Carousel image ' + i">
        <img [lazyLoad]="product.dimage" class="discount-image" alt="Discount Image" style="width: 40px; height: 40px;">
        <div class="heart-image"></div>
    </div>
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <div class="rating">
            <p class="star" *ngFor="let star of product.starsArray">&#9733;</p> <span>({{ product.rating }})</span>
          </div>
          <p class="price">{{ product.price }} <span class="original-price">{{ product.oprice }}</span></p>
        </div>
      </div>
    </div>
  </div>
  